__pycache__/
*.pyc
*.pyd
*.pyo
*.egg

# Virtual environment
.venv/
venv/
env/
ENV/
.env

# Distribution / packaging
dist/
build/
*.whl

# Specific editors (optional)
.vscode/
.idea/
.DS_Store # macOS

# Others

logs/
logs/*.log
media/
*.sqlite3
staticfiles/

settings/.env

locale/*/LC_MESSAGES/*.mo
